body {
	margin: 0;
	padding: 0px;
	font-family: Arial, sans-serif;
    font-size: 10px;
	background: #fff;
	color: #333;
}
h1{
	text-align: right;
	font-size: 12px;
}
h2{
	text-align: center;
	font-size: 14px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
