<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserTypesServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.UserTypesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserTypesServlet</servlet-name>
		<url-pattern>/UserTypesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatBotsServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.ChatBotsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatBotsServlet</servlet-name>
		<url-pattern>/ChatBotsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BotMessagesServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.BotMessagesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BotMessagesServlet</servlet-name>
		<url-pattern>/BotMessagesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BotMessageOptionsServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.BotMessageOptionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BotMessageOptionsServlet</servlet-name>
		<url-pattern>/BotMessageOptionsServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>4000</session-timeout>
	</session-config>
</web-app>