<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginTraderServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.LoginTraderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssetServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.AssetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BadgeReaderServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.BadgeReaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomersServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.CustomersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MovimentoServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.MovimentoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BadgeServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.BadgeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdottoServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.ProdottoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CanaleServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.CanaleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTraderServlet</servlet-name>
    <url-pattern>/LoginTraderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssetServlet</servlet-name>
    <url-pattern>/AssetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdottoServlet</servlet-name>
    <url-pattern>/ProdottoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CanaleServlet</servlet-name>
    <url-pattern>/CanaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BadgeReaderServlet</servlet-name>
    <url-pattern>/BadgeReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovimentoServlet</servlet-name>
    <url-pattern>/MovimentoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomersServlet</servlet-name>
    <url-pattern>/CustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BadgeServlet</servlet-name>
    <url-pattern>/BadgeServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>4000</session-timeout>
  </session-config>
  
  <servlet>
    <servlet-name>AssegnazioneServlet</servlet-name>
    <servlet-class>com.virtualpairprogrammers.servlets.AssegnazioneServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AssegnazioneServlet</servlet-name>
    <url-pattern>/AssegnazioneServlet</url-pattern>
  </servlet-mapping>
</web-app>